
/* ОПОВЕЩЕНИЯ РАЗЛИЧНЫЕ СУЧКИ */

.alert {
    background-color: #442222;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #ff3333;
    margin-bottom: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #ff9999;
}

.notice {
    background-color: #224422;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #33ff33;
    margin-bottom: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #99ff99;
}

.warning {
    background-color: #444422;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #ffff33;
    margin-bottom: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #ffff99;
}
