<footer class="site-footer">
    <div class="footer-line"></div>


<div class="footer-grid">

    <div class="footer-block">
        <div class="footer-title">FATAL MEMORY</div>
        <p>
            Неофициальный фанатский проект по вселенной
            Half-Life 2 и настольной ролевой игре
            Half-Life: Fatal Memory.
        </p>
    </div>

    <div class="footer-block">
        <div class="footer-title">ПРАВОВАЯ ИНФОРМАЦИЯ</div>
        <p>
            Проект создан исключительно в некоммерческих
            и фанатских целях.
        </p>
        <p>
            Half-Life и связанные с ней материалы являются
            собственностью Valve Corporation.
        </p>
    </div>

    <div class="footer-block">
        <div class="footer-title">СВЯЗЬ</div>
        <a href="mailto:FatalMemory@outlook.com" class="footer-link">FatalMemory@outlook.com</a>
    </div>

</div>

<div class="footer-bottom">
    <span>© 2026 Fatal Memory</span>
    <span>Half-life: Fatal memory</span>
</div>


</footer>
