<div class="sidebar">
    <h2>Навигация</h2>
    <a href="index.html" class="nav-button">Главная</a>
    <a href="GSR.html" class="nav-button">ГСР</a>
    <a href="aliance.html" class="nav-button">Альянс</a>
    <a href="personage.html" class="nav-button">Создание персонажа</a>
    <a href="loality.html" class="nav-button">Уровень Лояльности</a>
    <a href="stats.html" class="nav-button">Характеристики</a>
    <a href="stats2.html" class="nav-button">Раскид Хар на Б</a>
    <a href="class.html" class="nav-button">Классы</a>
     <!-- Так же не забудь что тут страницы null нету так как она шаблон ебаный рот -->
    <!-- <a href="null.html" class="nav-button">Сопротивление</a> -->
</div>
